Package: picam-raw-dbgsym
Source: picam-raw
Version: 1.0.0+202606041025-1
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Jaco Hanekom <jhanekom@gmail.com>
Installed-Size: 770
Depends: picam-raw (= 1.0.0+202606041025-1)
Section: debug
Priority: optional
Description: debug symbols for picam-raw
Build-Ids: 620ad12aefd796f49dbb949c243dce555f7c6595
